<section class="mx-auto *:py-12">
  <!-- Heading -->
  <div class="text-center mb-12">

      <h1 class="text-5xl font-bold mb-2 text-[#1C1E1F]">{{routeBasedTitle}}</h1>
 
  <div class="w-7 md:w-16 h-[2px] bg-black mx-auto mt-6 mb-10"></div>
         <p>The National Association of Home Builders Craftsmen Builder 20 Clubs</p>
  <p>David has been an active member of the prestigious NAHB since 2013. Within the NAHB is The Builder 20 Club, made up of some of the finest builders from around America. David is the only 20 Club member represented in Australia. The Builder 20 Club meet twice a year and discuss all matters of business in the building industry.  They critique, analyse and consult on all aspects of DCB’s building business.</p>
  </div>
  <!-- Main Content -->
  <div class="mainBannercontent relative" style="padding: 0px !important;">
    
    <div class="col-span-4 col-start-3 py-4 text-sm 2xl:text-lg contentDiv absolute top-0 bottom-0 left-0 xl:left-[20%] bg-white max-w-[680px] h-full px-4 md:px-8 py-6 md:py-16">
        <div [innerHTML]="routeBasedContent"></div>
    </div>

    <!-- Right Image -->
    <div class="w-full ">
      <img
        [src]='routeBasedImage'
        alt="Interior Preview"
        class="w-full h-full object-cover"
      />
    </div>
  </div>
</section>
