<section
  class="h-[400px] md:h-screen bg-cover bg-center relative transition-all duration-1000 bannersec"
>
  <!-- Background image transition -->
  <div style="position:absolute; inset:0; z-index:0">
    <img
      *ngFor="let img of imageList; let i = index"
      [@fadeInOut]="currentIndex === i ? 'visible' : 'hidden'"
      [src]="img"
      class="w-full h-full object-cover absolute top-0 left-0"
    />
  </div>

  <!-- Overlay -->
  <div class="absolute inset-0 bg-opacity-30 z-10"></div>
   <!-- Mobile Sidebar -->
  <app-mobile-sidebar *ngIf="showMobileMenu" (close)="toggleMobileMenu()"></app-mobile-sidebar>


  <!-- Navbar -->
  <div class="absolute top-0 left-0 right-0 z-20 flex justify-between items-center px-4 xl:px-10 py-2 xl:py-4 2xl:py-1 text-white max-w-full mx-auto headersec">
    <div class="loogmenu flex justify-start items-center gap-4  lg:gap-10 2xl:gap-15">

      <div class="font-bold tracking-widest w-full max-w-[100px] sm:max-w-[140px] lg:max-w-[180px] 2xl:max-w-[360px] relative top-0 xs:top-2 lg:top-4 2xl:top-8">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/tradies-diary.appspot.com/o/diary%2Fadmin%2Flogo?alt=media&token=d33d1215-6048-481c-8287-769d632b5fd6"
        alt="DCB Logo"
        class=""
        style='filter: invert(1);'
      />
    </div>

    <nav class="hidden md:flex gap-2 lg:gap-6 font-light sm:text-[10px] lg:text-xs 2xl:text-lg">
      <a href="#" class="hover:underline">Home</a>
      <a href="#" class="hover:underline">About Us</a>
      <a href="#" class="hover:underline">Projects</a>
      <a href="#" class="hover:underline">Interiors</a>
      <a href="#" class="hover:underline">Facts</a>
      <a href="#" class="hover:underline">NAHB</a>
      <a href="#" class="hover:underline">Contact Us</a>
      <a href="#" class="hover:underline">Login</a>
    </nav>
    </div>
    

    <div class="hidden md:flex items-center gap-2 lg:gap-4 sm:text-[10px] lg:text-xs 2xl:text-lg">
      <span class="flex items-center gap-[15px] lg:gap-2 border-[#fff] border-right md:pr-4">
        <i class="fas fa-user"></i> CLIENT LOGIN
      </span>
      <span class="flex items-center gap-[15px] lg:gap-2">
        <i class="fas fa-phone-alt"></i> +61 2 8399 3333
      </span>
    </div>
  </div>

  <!-- Hero Text -->
  <div class="absolute bottom-0 left-0 right-0 z-20 text-white text-center mx-auto bottomContentwrapper px-5 md:pb-15">
        <p class="mt-2 text-xs md:text-[15px] tracking-wide textShadow">DCB DESIGN</p>
    <h1 class="text-2xl leading-[26px] lg:text-[40px] lg:leading-[38px] 2xl:text-[70px] 2xl:leading-[62px] textShadow font-medium">Together we bring to <br>
    the home of your dreams becomes reality.</h1>
  </div>
</section>
<section class="bg-linear pb-10 2xl:pb-30 pt-20 px-4 xl:px-12">
    <app-image-comparison-slider></app-image-comparison-slider>
</section>


<!-- <app-footer></app-footer> -->
 <app-footernew></app-footernew>

