<footer class="bg-black text-white text-center pt-8 ">
  <!-- Social Icons -->
  <div class="flex justify-center space-x-6 text-xl px-4">
    <a href="#" class="hover:text-gray-600"><i class="fa-brands fa-instagram"></i></a>
    <a href="#" class="hover:text-gray-600"><i class="fa fa-linkedin-in"></i></a>
    <a href="#" class="hover:text-gray-600"><i class="fa fa-envelope"></i></a>
    <a href="#" class="hover:text-gray-600"><i class="fa fa-cube"></i></a>
  </div>

  <!-- Company Info -->
  <div class="text-xs md:text-sm px-4 my-5 md:my-10">
    <span class="font-bold">DCB</span> David Campbell Building Pty Ltd. &copy; 2024 |
    11U, 175 Lower Gibbes Street Chatswood, NSW, Australia 2067 |
    +61 2 8399 3333
  </div>

  <!-- Bottom Bar -->
  <div class="bg-white text-black text-xs md:text-sm mt-6 py-2 px-4">
    All Rights Reserved 2025
  </div>
</footer>