<section class="mx-auto md:*:py-12 pt-0">
  <!-- Heading -->
  <div class="flex flex-wrap items-end gap-4 md:gap-8 px-4 xl:px-10 justify-between pb-6">
    <div class="text-left pt-5">
      <h1 class="text-3xl xl:text-5xl font-bold mb-2 text-black">{{routeBasedTitle}}</h1>
      <p class="max-w-[800px] xl:text-xl md:text-lg text-sm">All building work these days is not cheap, so if you’re
        looking for cheap, we are probably not the right fit.
        Our goal is to provide quality and value to those who seek the same.</p>
      <!-- <div class="w-7 md:w-16 h-[2px] bg-black mx-auto mt-6 mb-10"></div> -->
    </div>
    <div class="cursor-pointer bannerbtn">
      <button
        class="flex gap-2 px-6 py-3 border border-black rounded-[50px] cursor-pointer bg-white hover:bg-black  transition-all hover:text-white text-black">Get
        consultation <div class="b-button--arrow" bis_skin_checked="1">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
            class="relative bottom-[-4px]">
            <path d="M2.5 8L13.5 8" stroke="#302E2D" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M9 3.5L13.5 8L9 12.5" stroke="#302E2D" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div></button>
    </div>
  </div>
  <!-- Main Content -->
  <div class="mainBannercontent relative" style="padding: 0px !important;">



    <!-- Right Image -->
    <div class="w-full md:min-h-screen[370px] min-h-[280px] h-[280px] md:h-[370px] px-4 xl:px-10">
      <img [src]='routeBasedImage' alt="Interior Preview" class="w-full h-full object-cover rounded" />
    </div>

    <div class="col-span-4 col-start-3 py-4 xl:py-12 text-sm 2xl:text-lg contentDiv px-4 xl:px-10">
      <div class="grid grid-cols-12 grid-rows-1 md:gap-12 gap-6">
        <div class="col-span-12 md:col-span-6 xl:col-span-7">
          <h5 class="font-medium texxt-lg xl:text-2xl mb-4">The majority of building works need council approval before work can
            commence. This can be done in the way of a DA or a CDC:</h5>

          <ul class="list-disc pl-5 flex gap-2 flex-col">
            <li class="font-light xl:text-[16px] text-[13px]"><strong>DA, A Development Application </strong> is commonly referred to
              as a DA. It is a formal request to carry out proposed development, such as change of use of land,
              subdivide land, and carry out building, landscaping and other work.</li>
            <li class="font-light xl:text-[16px] text-[13px]"><strong> CDC, <a class="underline text-black cursor-pointer">Complying
                  Development </a> </strong>Certificate is a fast-track approval process for straightforward
              residential, commercial and industrial development.</li>
            <li class="font-light xl:text-[16px] text-[13px]"><strong>Architectural Drawings, </strong> Site Survey will be required to
              obtain DA or CDC approval.</li>
          </ul>
        </div>


        <div class="col-span-12 md:col-span-6 xl:col-span-5">
          <h4 class="font-semibold 2xl:text-4xl lg:text-3xl text-xl">
            <a class="underline text-black cursor-pointer">Home Owners Warranty Insurance</a> (HOW) is needed for any
            residential project over the value of $20,000.00.
          </h4>

          <h4 class="font-normal text-md text-black-50 pt-3 pb-6">
            Bushfire reports will be needed if you are located in a bushfire zone.
          </h4>
          <div class="cursor-pointer bannerbtn">
            <button
              class="flex gap-2 px-6 py-3 border border-black rounded-[50px] cursor-pointer bg-white hover:bg-black  transition-all hover:text-white text-black">Get
              consultation <div class="b-button--arrow" bis_skin_checked="1">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="relative bottom-[-4px]">
                  <path d="M2.5 8L13.5 8" stroke="#302E2D" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M9 3.5L13.5 8L9 12.5" stroke="#302E2D" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div></button>
          </div>
        </div>
      </div>
      <!-- <div [innerHTML]="routeBasedContent"></div> -->
    </div>
  </div>
</section>