
<div class="absolute top-0 w-full">
<div class="relative">
        <img
          [src]='heroImage'
          class="w-full h-screen"
          @zoomIn
        />
        <div class="absolute bottom-8 flex justify-center w-full">
        <h1 class="font-bold mb-2 text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-white">
          {{ queryParams }}
        </h1>
            </div>
      </div>
      <div class="gallery-image">
      @for (image of images; track image; let i = $index) {
        <div
          class="img-box"
          (click)="openDialog(i)"
          [@slideInUp]="image.visible ? 'in' : 'out'"
          #imgBox
          [attr.data-index]="i"
        >
          <img [src]="image.url" [alt]="image.caption" />
        </div>
      }
    </div>


  <!-- Dialog -->
  <div class="dialog" *ngIf="isDialogOpen">
    <div class="dialog-content">
      <button class="close-btn" (click)="closeDialog()">×</button>
      <img [src]="images[currentIndex].url" />
      <button class="nav-btn left" (click)="prevImage()">&#10094;</button>
      <button class="nav-btn right" (click)="nextImage()">&#10095;</button>
    </div>
  </div>
</div>