.innerWraperproject:hover .projectContent {
    transform: translateY(0);
}

.projectContent {
    transform: translateY(20%);
    transition: .5s all;
}
.productImage {
    height: 100% !important;
    align-items: end;
}

.productImage>div img {
     height: 440px;
}

.productImage>div:nth-child(2n) {
    height: 100%;
}
.scroll-smooth {
  scroll-behavior: smooth;
}
.productImage>div{
    transition: .5s all;
    height: 100%;
}
.productImage>div:nth-child(even) img{
  height: 22rem;
  object-fit: cover;
  width: 100%;
}
.productImage::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.productImage::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
.productImage::-webkit-scrollbar-thumb {
  background: #ffffff; 
}

/* Handle on hover */
.productImage::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}
.bannerImage{
    position: relative;
    min-height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.bannerImage::after{
    position: absolute;
    inset: 0;
    content: "";
    background: #000000b0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
@media (max-width:1536px){
  .productImage>div:nth-child(even) img{
  height: 18rem;
}
.productImage>div img {
     height: 360px;
}
.productImage {
    height: calc(100vh - 18vw);
}
}

@media (max-width:1366px){
  .productImage>div:nth-child(even) img{
  height: 13rem;
}
.productImage>div img {
     height: 16rem;
}
}

@media (max-width:767px){
  .productImage {
    flex-direction: column;
    /* overflow: hidden; */
    width: 100%;
    align-items: center;
}
.productImage>div:nth-child(even) img, .productImage>div img{
  height: 100%;
}
.productImage  > div{
    width: 100%;
    max-width: 100%;
}
.bannerImage{
  min-height: 190px;
}
}

