<section class="px-4 2xl:py-20 py-10" #sectionContainer>
    <h1 class=" text-3xl md:text-6xl xl:text-8xl font-bold mt-2 xl:mt-4 mb-2 text-black uppercase">Projects</h1>

  <!-- <div class="w-7 md:w-16 h-[2px] bg-black mx-auto mt-6 mb-10"></div> -->

  <!-- Horizontal Scroll Container -->
  <div class="overflow-x-auto whitespace-nowrap flex gap-4 scroll-smooth px-1 productImage items-end"   #scrollContainer>
    <div
      *ngFor="let project of projects; let i = index"
      #projectItem
      class="inline-block 2xl:min-w-[450px] min-w-[300px] max-w-[300px] 2xl:max-w-[470px] relative group overflow-hidden cursor-pointer"
      [@fadeInRight]="isVisible(i) ? 'in' : null"
      [routerLink]="['/projects/particular', project.title]"
    >
      <img
        [src]="project.image"
        [alt]="project.title"
        class="w-full object-cover transition-transform duration-500 group-hover:scale-105"
      />

      <!-- Overlay -->
               <!-- absolute inset-0 bg-[#000000A8]         opacity-0  -->
      <div
        *ngIf="project.title"
        class="uppercase group-hover:opacity-100 transition duration-300 flex items-end justify-start text-black px-0 py-6"
      >
        <div>
          <h2 class="text-lg md:text-md xl:text-xl font-semibold">{{ project.title }}</h2>
          <p class="mt-1 text-sm">See Project ⟶</p>
        </div>
      </div>

      <!-- Badge -->
      <!-- <img
        *ngIf="project.badge"
        [src]="project.badge"
        alt="Badge"
        class="absolute bottom-4 right-4 w-12 h-12"
      /> -->
    </div>
  </div>

    <h1 class=" text-3xl md:text-6xl xl::text-8xl font-bold mt-2 xl:mt-4 mb-2 text-black uppercase hidden md:block">Projects</h1>
</section>
