/* .aboutsec{
    display: grid;
    grid-template-columns: 2fr 9fr;
    align-items: flex-start;
} */
.aboutsec{
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
}
.aboutsec  img {
    height: 1000px;
    object-position: top;
    object-fit: cover;
    margin-top: -110px;
}
/* staf css */
.caption {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    z-index: 2;
    background: #00000078;
    transform: translateY(20%);
    transition: .8s all;
    opacity: 0;
    padding: 10px;
}

.imageContaentbox {
    position: relative;
    display: block;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-osx-font-smoothing: grayscale;
    max-width: 150px;
}

.imageContaentbox:hover .caption {
    transform: translateY(0);
    opacity: 1;
}

h3.titlename {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1px;
    text-align: left;
}

.caption p {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 13px;
    text-align: left;
}

/* staff css end */
@media (min-width:1800px){
    .teammainHeading{
        font-size: 130px !important;
    }
}
@media (max-width:1366px){
    .aboutsec img{
    height: 500px;
}
}
@media (max-width:991px){
    .aboutsec{
    display: grid;
    grid-template-columns:1fr;
}
    .aboutsec img{
    height: 350px;
}

}

@media (max-width:767px){
    .imageContaentbox {
    max-width: 100%;
    /* margin: 0% 8% 0% 8%; */
    width: 100%;
}
    .aboutsec img{
    height: fit-content;
}
.caption{
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
    position: unset;
    transform: unset;
    opacity: 1;
    width: 100%;
    padding-inline: 0px;
    background: transparent;
}
h3.titlename {
    color: #111;
    font-size: 24px;
    font-weight: 700;
}

.caption p {
    color: #8d8d8d;
    font-size: 14px;
}

}

.reveal-line {
  will-change: transform, opacity;
}