/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: 'Zip';
  src: url('/assets/fonts/proximanova_black.otf') format('otf'),
       url('/assets/fonts/proximanova_black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}